* {
  box-sizing: border-box;
}

body {
	background-color: #FFF0F5;
	margin: 0;
	padding: 0;
	font-size: 125%;
}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	color: #696969;
	font-size: 6em;
	text-align: center;
	text-shadow: 5px, 5px, 5px, #aaa;
	margin-top: 60px;
	margin-bottom: 0px;
}

h2 {
	font-family: sans-serif;
	font-weight: bold;
	color: #696969;
	font-size: 3.6em;
	text-align: center;
	transform: rotate(-180deg);
	margin-top: 0px;
	margin-bottom: 60px;
}

p {
  font-family: serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: lighter;
  color: black;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

a.one:link, a.one:visited {
	text-decoration: none;
	color: black;
}

a.one:hover, a.one:active {
	background-color: #696969;
	color: red;
}

a.two:link, a.two:visited {
	text-decoration: none;
	color: white;
}

a.two:hover, a.two:active {
	background-color: #696969;
	color: yellow;
}

.kasten {
	border: solid 6px #696969;
	background-color: #DCDCDC;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0px;
}

.box {
	position: absolute;
	right: 0;
	width: auto;
	height: auto;
	padding: 0;
	margin-left: 12px;
	margin-bottom: 6px;
}

.font {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2em;

}

.row {
	width: 100%;
}

.shadow {
	animation: text-shadow 8s infinite alternate;
}

@keyframes text-shadow {
	0% {text-shadow: 1px 1px 0px #333}
	10% {text-shadow: 3px 3px 2px #333}
	20% {text-shadow: 9px 10px 6px #999}
	40% {text-shadow: 10px 15px 6px #ccc}
	60% {text-shadow: 0px 10px 4px #ccc}
	80% {text-shadow: -10px 8px 3px #ccc}
	100% {text-shadow: 1px 5px 1px #eee}
}

@media (min-width: 992px) {
	.kastenX1, .kastenX2, .kastenX3 {
	float: left;
	}
	.kastenX1 {
		width: 31%;
		margin-left: 0.9%;
		margin-right: 1.4%;
	}
	.kastenX2 {
		width: 62%;
		margin-right: 1.4%;
	}
	.kastenX3 {
		width: 95.5%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.kastenM1, .kastenM2, .kastenM3 {
	float: left;
	}
	.kastenM1 {
		width: 47%;
		margin-left: 1.7%
	}
	.kastenM2 {
		width: 47%;
		margin-left: 2%
	}
	.kastenM3 {
		width: 96%;
		margin-top: 2%;
		margin-left: 1.7%;
}

@media (max-width: 767px) {
	.kastenS1, .kastenS2, .kastenS3 {
	float: left;
	}
	.kastenS1 {
		width: 96%;
		margin-left: 1.7%;
	}
	.kastenS2 {
		width: 96%;
		margin-top: 2%;
		margin-left: 1.7%;
	}
	.kastenS3 {
		width: 96%;
		margin-top: 2%;
		margin-left: 1.7%;
}